h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

h1,
.h1 {
  font-family: $font__heading;
  font-weight: normal;
  font-size: 56px;
  line-height: 1.142;
}
h2,
.h2 {
  font-family: $font__heading;
  font-weight: normal;
  font-size: 38px;
  line-height: 1.263;
}
h3,
.h3 {
  font-family: $font__heading;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.333;
}
h4,
.h4 {
  font-family: $font__body;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.333;
}
h5,
.h5 {
  font-family: $font__body;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
h6,
.h6 {
  font-family: $font__body;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.sub-heading {
  font-family: $font__body;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.667;
}
