a {
  color: $color__gray-black;
  transition: all 0.3s ease;

  &:visited {
    color: $color__gray-black;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color__brand-blue;
  }

  &:focus,
  &:hover,
  &:active {
    outline: 0;
  }
}
