.tag {
  font-family: $font__body;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $color__gray-white;
  padding: 4px 8px;
  border-radius: 2px;
}
