/* $color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666; */

$color__gray-white: #ffffff;
$color__gray-lighter: #f1f3f6;
$color__gray-light: #e8e9ef;
$color__gray-medium: #bbbcc5;
$color__gray-dark: #878c98;
$color__gray-darker: #4f525c;
$color__gray-black: #000000;

$color__brand-red: #F95F5F;
$color__brand-blue: #3F60AC;
$color__brand-blue-hover: #28468C;
$color__brand-yellow: #F9DA54;
$color__brand-yellow-hover: #DCBD39;
$color__brand-charcoal: #202228;
$color__brand-medium-charcoal: #58585B;
$color__brand-light-charcoarl: #D8D8D8;
$color__brand-purple: #8958A4;
$color__brand-orange: #F7A746;
$color__brand-teal: #179EA8;
$color__brand-error: #FFE1E1;
